<div>
  <div>
    <.form for={%{}}>
      <textarea
        name="text"
        phx-change="change_text"
        class="bg-black text-green-500  border-green-500  rounded-md"
      >{@text}</textarea>
    </.form>
    <button
      phx-click="llm"
      class="bg-black border rounded-md border-solid border-green-500 text-green-500 m-2 p-2"
    >
      送信
    </button>
  </div>
  <div class="m-5 whitespace-pre-wrap">
    {@llm_text}
  </div>
</div>
